@import url("reset.css") layer(reset);

@layer reset,
  layout,
  base,
  typography;

:root {
  /* Typography */
  --font-family:
    "Iowan Old Style", "Palatino Linotype", "URW Palladio L", P052, serif;

  --body-font-size: 20px;

  /* Perfect Fourth */
  --type-ratio: 1.33;

  --font-size-5: calc(var(--body-font-size) * var(--type-ratio));
  --font-size-4: calc(var(--font-size-5) * var(--type-ratio));
  --font-size-3: calc(var(--font-size-4) * var(--type-ratio));
  --font-size-2: calc(var(--font-size-3) * var(--type-ratio));
  --font-size-1: calc(var(--font-size-2) * var(--type-ratio));

  /* Space 3xs: 5px → 6px */
  --space-3xs: clamp(0.3125rem, 0.2869rem + 0.1136vw, 0.375rem);
  /* Space 2xs: 10px → 12px */
  --space-2xs: clamp(0.625rem, 0.5739rem + 0.2273vw, 0.75rem);
  /* Space xs: 15px → 18px */
  --space-xs: clamp(0.9375rem, 0.8608rem + 0.3409vw, 1.125rem);
  /* Space s: 20px → 24px */
  --space-s: clamp(1.25rem, 1.1477rem + 0.4545vw, 1.5rem);
  /* Space m: 30px → 36px */
  --space-m: clamp(1.875rem, 1.7216rem + 0.6818vw, 2.25rem);
  /* Space l: 40px → 48px */
  --space-l: clamp(2.5rem, 2.2955rem + 0.9091vw, 3rem);
  /* Space xl: 60px → 72px */
  --space-xl: clamp(3.75rem, 3.4432rem + 1.3636vw, 4.5rem);
  /* Space 2xl: 80px → 96px */
  --space-2xl: clamp(5rem, 4.5909rem + 1.8182vw, 6rem);
  /* Space 3xl: 120px → 144px */
  --space-3xl: clamp(7.5rem, 6.8864rem + 2.7273vw, 9rem);

  /* One-up pairs */
  /* Space 3xs-2xs: 5px → 12px */
  --space-3xs-2xs: clamp(0.3125rem, 0.1335rem + 0.7955vw, 0.75rem);
  /* Space 2xs-xs: 10px → 18px */
  --space-2xs-xs: clamp(0.625rem, 0.4205rem + 0.9091vw, 1.125rem);
  /* Space xs-s: 15px → 24px */
  --space-xs-s: clamp(0.9375rem, 0.7074rem + 1.0227vw, 1.5rem);
  /* Space s-m: 20px → 36px */
  --space-s-m: clamp(1.25rem, 0.8409rem + 1.8182vw, 2.25rem);
  /* Space m-l: 30px → 48px */
  --space-m-l: clamp(1.875rem, 1.4148rem + 2.0455vw, 3rem);
  /* Space l-xl: 40px → 72px */
  --space-l-xl: clamp(2.5rem, 1.6818rem + 3.6364vw, 4.5rem);
  /* Space xl-2xl: 60px → 96px */
  --space-xl-2xl: clamp(3.75rem, 2.8295rem + 4.0909vw, 6rem);
  /* Space 2xl-3xl: 80px → 144px */
  --space-2xl-3xl: clamp(5rem, 3.3636rem + 7.2727vw, 9rem);

  --stroke-thin: 1px solid CanvasText;
  --stroke-thick: 2px solid CanvasText;

  /* Layout */
  --gap: var(--space-s-m);
  --full: minmax(var(--gap), 1fr);
  --content-size: 70ch;
  --narrow-content-size: 64ch;
  --content: minmax(
    0,
    calc((var(--content-size) - var(--narrow-content-size)) / 2)
  );
  --popout: minmax(0, var(--space-l));
  --narrow: min(var(--narrow-content-size), 100% - var(--gap) * 2);
  --grid-row-nav: min-content;

  color-scheme: dark light;

  scroll-behavior: smooth;
}

@layer layout {
  /* Layout */
  body {
    display: grid;
    grid-template-columns:
      [full-start] var(--full) [popout-start] var(--popout)
      [content-start] var(--content) [narrow-start] var(--narrow)
      [narrow-end] var(--content) [content-end] var(--popout)
      [popout-end] var(--full) [full-end];
    row-gap: var(--gap);
    grid-template-rows: min-content 1fr min-content;
  }

  :where(body) > * {
    grid-column: full;
  }

  :where(main > *, footer > *, header > *, main > article > *) {
    grid-column: content;
  }

  body > :is(header, main, footer) {
    display: grid;
    grid-template-columns: subgrid;
    align-content: start;
  }

  main {
    row-gap: var(--layout-space, var(--space-l-xl));
  }

  body > header,
  body > footer {
    padding-block: var(--inner-space, var(--space-s));
    margin-block: var(--outer-space, 0);
  }
}

@layer base {
  /* Spacing */
  article > * + *,
  section > * + * {
    margin-block-start: var(--flow-space, 1em);
  }

  /* Text overflow handling */
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
    hyphens: auto;
  }
}

@layer typography {
  body {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: var(--font-family);
    font-size: var(--body-font-size);
    font-variant-ligatures: common-ligatures no-discretionary-ligatures
      no-historical-ligatures contextual;
  }

  h1,
  h2,
  h3 {
    font-weight: var(--font-bold);
  }

  h4,
  h5,
  h6 {
    font-weight: var(--font-normal);
  }

  h1 {
    --font-size: var(--font-size-1);
    font-size: var(--font-size);
  }

  h2 {
    --font-size: var(--font-size-2);
    font-size: var(--font-size);
  }

  h3 {
    --font-size: var(--font-size-3);
    font-size: var(--font-size);
  }

  h4 {
    --font-size: var(--font-size-4);
    font-size: var(--font-size);
  }

  h5 {
    --font-size: var(--font-size-5);
    font-size: var(--font-size);
  }

  h6 {
    --font-size: var(--font-size-6);
    font-size: var(--font-size);
  }

  @supports (font-size: 1cqi) {
    :is(h1, h2, h3, h4, h5, h6) {
      --_font-min: calc(
        var(--font-size) - var(--font-size) * var(--font-size-diff, 0.3)
      );

      /* https://moderncss.dev/container-query-units-and-fluid-typography/ */
      font-size: clamp(
        max(var(--body-font-size), var(--_font-min)),
        var(--_font-min) + 1cqi,
        var(--font-size)
      );
    }
  }
}
