@import url("reset.css") layer(reset);
@import url("fonts.css") layer(base);

@layer reset,
  layout,
  base,
  typography,
  theme,
  components,
  utilities,
  animations,
  viewtransition,
  customproperty,
  scrollanimation;

:root {
  /* Typography */
  --font-family:
    "ET Book", Charter, "Bitstream Charter", "Sitka Text", Cambria, serif;
  --heading-font-family: "Mea Culpa", cursive;

  --body-font-size: clamp(1.25rem, 0.9833rem + 0.6667vw, 1.5rem);

  /* Augmented Fourth */
  --type-ratio: 1.414;

  --font-size-5: calc(var(--body-font-size) * var(--type-ratio));
  --font-size-4: calc(var(--font-size-5) * var(--type-ratio));
  --font-size-3: calc(var(--font-size-4) * var(--type-ratio));
  --font-size-2: calc(var(--font-size-3) * var(--type-ratio));
  --font-size-1: calc(var(--font-size-2) * var(--type-ratio));

  /* Space 3xs: 5px → 6px */
  --space-3xs: clamp(0.3125rem, 0.2869rem + 0.1136vw, 0.375rem);
  /* Space 2xs: 10px → 12px */
  --space-2xs: clamp(0.625rem, 0.5739rem + 0.2273vw, 0.75rem);
  /* Space xs: 15px → 18px */
  --space-xs: clamp(0.9375rem, 0.8608rem + 0.3409vw, 1.125rem);
  /* Space s: 20px → 24px */
  --space-s: clamp(1.25rem, 1.1477rem + 0.4545vw, 1.5rem);
  /* Space m: 30px → 36px */
  --space-m: clamp(1.875rem, 1.7216rem + 0.6818vw, 2.25rem);
  /* Space l: 40px → 48px */
  --space-l: clamp(2.5rem, 2.2955rem + 0.9091vw, 3rem);
  /* Space xl: 60px → 72px */
  --space-xl: clamp(3.75rem, 3.4432rem + 1.3636vw, 4.5rem);
  /* Space 2xl: 80px → 96px */
  --space-2xl: clamp(5rem, 4.5909rem + 1.8182vw, 6rem);
  /* Space 3xl: 120px → 144px */
  --space-3xl: clamp(7.5rem, 6.8864rem + 2.7273vw, 9rem);

  --space-banner: clamp(28.5rem, 25cqi, 50rem);

  /* One-up pairs */
  /* Space 3xs-2xs: 5px → 12px */
  --space-3xs-2xs: clamp(0.3125rem, 0.1335rem + 0.7955vw, 0.75rem);
  /* Space 2xs-xs: 10px → 18px */
  --space-2xs-xs: clamp(0.625rem, 0.4205rem + 0.9091vw, 1.125rem);
  /* Space xs-s: 15px → 24px */
  --space-xs-s: clamp(0.9375rem, 0.7074rem + 1.0227vw, 1.5rem);
  /* Space s-m: 20px → 36px */
  --space-s-m: clamp(1.25rem, 0.8409rem + 1.8182vw, 2.25rem);
  /* Space m-l: 30px → 48px */
  --space-m-l: clamp(1.875rem, 1.4148rem + 2.0455vw, 3rem);
  /* Space l-xl: 40px → 72px */
  --space-l-xl: clamp(2.5rem, 1.6818rem + 3.6364vw, 4.5rem);
  /* Space xl-2xl: 60px → 96px */
  --space-xl-2xl: clamp(3.75rem, 2.8295rem + 4.0909vw, 6rem);
  /* Space 2xl-3xl: 80px → 144px */
  --space-2xl-3xl: clamp(5rem, 3.3636rem + 7.2727vw, 9rem);

  --stroke-thin: 1px solid CanvasText;
  --stroke-thick: 2px solid CanvasText;

  /* Layout */
  --gap: var(--space-m);
  --full: minmax(var(--gap), 1fr);
  --content-size: 150ch;
  --narrow-content-size: 60ch;
  --content: minmax(
    0,
    calc((var(--content-size) - var(--narrow-content-size)) / 2)
  );
  --popout: minmax(0, var(--space-l));
  --narrow: min(var(--narrow-content-size), 100% - var(--gap) * 2);
  --grid-row-nav: min-content;

  color-scheme: dark light;

  scroll-behavior: smooth;
}

@layer layout {
  /* Layout */
  body {
    display: grid;
    grid-template-columns:
      [full-start] var(--full) [popout-start] var(--popout)
      [content-start] var(--content) [narrow-start] var(--narrow)
      [narrow-end] var(--content) [content-end] var(--popout)
      [popout-end] var(--full) [full-end];
    row-gap: var(--gap);
    grid-template-rows: min-content 1fr min-content;
    container: main / inline-size;
  }

  :where(body) > * {
    grid-column: full;
  }

  :where(main > *, footer > *, header > *, main > article > *) {
    grid-column: content;
  }

  :where(main > section) {
    grid-column: narrow;
  }

  body > :is(header, main, footer) {
    display: grid;
    grid-template-columns: subgrid;
    align-content: start;
  }

  main {
    row-gap: var(--layout-space, var(--space-xl));
  }

  body > header,
  body > footer {
    padding-block: var(--inner-space, var(--space-s));
    margin-block: var(--outer-space, 0);
  }

  hgroup {
    grid-column: full;
    display: grid;
    grid-template-columns: subgrid;
    background: linear-gradient(
      in oklch 180deg,
      var(--color-banner) 20%,
      var(--color-bg)
    );
    overflow: hidden;
    padding-block-start: 4rem;

    h1 {
      grid-column: content;
    }

    svg[role="presentation"] {
      justify-self: center;
      grid-column: full;
      height: 30rem;
      width: max(100%, 320rem);
      overflow: visible;
      vector-effect: non-scaling-stroke;

      .background {
        stroke: var(--color-banner-bg-stroke);
      }

      .foreground {
        stroke: var(--color-banner-fg-stroke);
      }

      .grass {
        stroke: var(--color-banner-fg-stroke);
      }

      .torso {
        stroke: var(--color-banner-flower-leaf);
      }

      .petals,
      .leaf,
      .torso,
      .foreground {
        fill: var(--color-bg);
      }

      .seeds {
        fill: var(--color-banner-flower-seeds);
      }
    }
  }
}

@layer base {
  /* Spacing */
  article > * + *,
  section > * + * {
    margin-block-start: var(--flow-space, 1em);
  }

  /* Text overflow handling */
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
    hyphens: auto;
  }

  hr {
    display: grid;
    place-items: center;
    border: none;
    margin-block: var(--space-3xl);

    &:before {
      content: "❦";
    }
  }
}

@layer typography {
  body {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: var(--font-family);
    font-size: var(--body-font-size);
    font-variant-ligatures: common-ligatures no-discretionary-ligatures
      no-historical-ligatures contextual;
  }

  h1 {
    font-family: var(--heading-font-family);
  }

  h2,
  h3 {
    font-weight: var(--font-bold);
  }

  h1,
  h4,
  h5,
  h6 {
    font-weight: var(--font-normal);
  }

  h1 {
    --font-size: var(--font-size-1);
    font-size: var(--font-size);
  }

  h2 {
    --font-size: var(--font-size-2);
    font-size: var(--font-size);
  }

  h3 {
    --font-size: var(--font-size-3);
    font-size: var(--font-size);
  }

  h4 {
    --font-size: var(--font-size-4);
    font-size: var(--font-size);
  }

  h5 {
    --font-size: var(--font-size-5);
    font-size: var(--font-size);
  }

  h6 {
    --font-size: var(--font-size-6);
    font-size: var(--font-size);
  }

  @supports (font-size: 1cqi) {
    :is(h1, h2, h3, h4, h5, h6) {
      --_font-min: calc(
        var(--font-size) - var(--font-size) * var(--font-size-diff, 0.3)
      );

      /* https://moderncss.dev/container-query-units-and-fluid-typography/ */
      font-size: clamp(
        max(var(--body-font-size), var(--_font-min)),
        var(--_font-min) + 1cqi,
        var(--font-size)
      );
    }
  }
}

@layer components {
  article {
    footer {
      ul {
        margin: 0;
        padding-inline: var(--space-s);
        padding-block: var(--space-3xs);
      }
    }
    li {
      list-style-type: tibetan;
    }
  }

  pre {
    --_border-size: clamp(30px, 10cqi, 50px);
    --padding-inline: var(--space-m-l);
    --padding-block: var(--space-s);
    font-family: var(--font-family);
    white-space: pre-line;
    padding-inline: var(--padding-inline);
    padding-block: var(--padding-block);
    border-inline-start: var(--_border-size) solid transparent;
    border-image-source: image-set(
      url("/assets/poem-border-dark.avif") type("image/avif"),
      url("/assets/poem-border-dark.webp") type("image/webp"),
      url("/assets/poem-border-dark.png") type("image/png")
    );
    border-image-slice: 100;
    border-image-repeat: repeat;

    @media (prefers-color-scheme: light) {
      border-image-source: image-set(
        url("/assets/poem-border.avif") type("image/avif"),
        url("/assets/poem-border.webp") type("image/webp"),
        url("/assets/poem-border.png") type("image/png")
      );
    }

    @container main (width > 60ch) {
      border-inline-end: var(--_border-size) solid transparent;
      border-block: var(--_border-size) solid transparent;
      border-image-repeat: round;
    }
  }
}

@layer theme {
  :root {
    --color-dark: oklch(0.1112 0.0544 316.12);
    --color-light: oklch(0.9719 0.0152 82.79);

    --color-bg: light-dark(var(--color-light), var(--color-dark));
    --color-fg: light-dark(var(--color-dark), var(--color-light));

    /* https://harmonizer.evilmartians.com/#jZJNS8QwEIb_yjInhVLysWmbHF3xpCCsN_EQuzEtmzYlbRdh6X83Wd01W6SYS8g7M898ZI5wUK6vbQsCJ2DUQZkexOsRWtkoEIARggRK2w5O9gMIXvhX5WwjQaAUEYauDjtbN7ID0Y7GTMmFRWasnMYsjDDLIh5dQtEZas1iFEGc5lFl2RJqPUNl6ArFTlUtAdhiW4Qziv_bVrY4bTyb9h-otwSqUV394PPoOqM8Vrba34JiFGV8GMuqr2VkJihQejUMdas96Xip58nulPExsitDwK52qhz86gTdyx_6xd5pOBf1ozby00vvemONdY-1rnxbYPemrG5QynPMV36NMCOrgqQ5v_31vZduH7lijIvgumb5ivCU0G_XE3E7SOexYR4hctvJMqTuKEzTFw */
    --purple-100: oklch(0.96 0.03 310);
    --purple-200: oklch(0.84 0.11 310);
    --purple-300: oklch(0.69 0.24 310);
    --purple-400: oklch(0.64 0.29 310);
    --purple-500: oklch(0.53 0.28 310);
    --purple-600: oklch(0.23 0.12 310);
    --fuchsia-100: oklch(0.96 0.03 320);
    --fuchsia-200: oklch(0.85 0.14 320);
    --fuchsia-300: oklch(0.7 0.28 320);
    --fuchsia-400: oklch(0.64 0.33 320);
    --fuchsia-500: oklch(0.53 0.27 320);
    --fuchsia-600: oklch(0.23 0.12 320);

    --color-banner: lch(from var(--color-bg) calc(l + 1) calc(c + 20) h);
    --color-banner-fg-stroke: light-dark(
      lch(from var(--color-fg) calc(l + 80) calc(c + 35) calc(h + 183)),
      lch(from var(--color-bg) calc(l + 80) calc(c + 35) calc(h + 183))
    );
    --color-banner-bg-stroke: light-dark(
      lch(from var(--color-fg) calc(l + 60) calc(c + 15) calc(h + 21)),
      lch(from var(--color-bg) calc(l + 60) calc(c + 15) calc(h + 21))
    );
    --color-banner-flower-leaf: light-dark(
      lch(from var(--color-fg) calc(l + 55) calc(c + 70) calc(h + 183)),
      lch(from var(--color-bg) calc(l + 55) calc(c + 70) calc(h + 183))
    );
    --color-banner-flower-seeds: light-dark(
      oklch(0.8739 0.3028 91.29),
      oklch(0.8856 0.0853 91.29)
    );
    background-color: var(--color-bg);
    color: var(--color-fg);
  }

  body > main {
    background-color: var(--color-bg);
  }
}

@layer animations {
  @keyframes parallax {
    to {
      transform: translateY(
        calc(var(--parallax-base-speed) * var(--acceleration, 1) * -1)
      );
    }
  }

  @keyframes fade-in {
    from {
      opacity: var(--starting-opacity, 0.5);
    }
  }

  @keyframes dim {
    0% {
      opacity: 1;
    }
    25% {
      opacity: 0.4;
    }
    50% {
      opacity: 0.8;
    }
    75% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes firefly {
    0% {
      transform: translate(0, 0);
    }
    12% {
      transform: translate(3px, 1px);
    }
    24% {
      transform: translate(-2px, 3px);
    }
    37% {
      transform: translate(2px, -2px);
    }
    55% {
      transform: translate(-1px, 0);
    }
    74% {
      transform: translate(0, 2px);
    }
    88% {
      transform: translate(-3px, -1px);
    }
    100% {
      transform: translate(0, 0);
    }
  }

  svg[role="presentation"] {
    --parallax-base-speed: 75px;
    .background-group,
    .foreground-group {
      transform-origin: center;
      animation: parallax ease;
      animation-timeline: scroll(root);
      animation-range: 0px 600px;
      transform: translateY(0);
    }

    @media (prefers-reduced-motion: reduce) {
      --parallax-base-speed: 0;
    }
  }
  @supports (timeline-trigger-name: --v) {
    article {
      --fade-duration: 650ms;

      timeline-trigger: --t view() contain 15% contain 85% / entry 100% exit 0%;
      trigger-scope: --t;

      & > pre {
        position: relative;
        --starting-opacity: 0.75;
        animation: fade-in var(--fade-duration) ease-in-out both;
        animation-trigger: --t play-forwards play-backwards;

        &:before,
        &:after {
          --fade-duration: 1000ms;
          position: absolute;
          inset: 0;
          content: "";
          border-radius: 100%;
          background: yellow;
          box-shadow:
            0px 0px 6px 0px #ffeb3b,
            0px 0px 4px 0px #fdfca9 inset,
            0px 0px 2px 1px #ffffff42;
          transition: transform calc(var(--fly-duration) / 12) ease;
          width: var(--size);
          height: var(--size);

          transform: rotate(var(--rotatation));
        }

        &:before {
          --rotatation: 0deg;
          --fly-duration: 14s;
          --size: 6px;
          --starting-opacity: 0;
          top: calc(2px + var(--padding-block) / 2);
          left: calc(-16px + var(--padding-inline) / 2);
          opacity: 0.7;
        }

        &:after {
          --rotatation: 122deg;
          --fly-duration: 16s;
          --size: 3px;
          --starting-opacity: 0;
          top: calc(1px + var(--padding-block) / 2);
          left: calc(0px + var(--padding-inline) / 2);
          opacity: 0.7;
        }

        &:before,
        &:after {
          animation:
            firefly var(--fly-duration) infinite,
            dim calc(var(--fly-duration) / 2) infinite
              calc(var(--fly-duration) / 3),
            fade-in var(--fade-duration) ease-in-out both;
          animation-trigger:
            --t play-forwards play-backwards,
            --t play-forwards play-backwards,
            --t play-forwards play-backwards;
        }
      }
    }
  }
}

@layer customproperty {
  @property --slice {
    syntax: "<integer>";
    inherits: true;
    initial-value: 0;
  }
}
